<a href="https://colab.research.google.com/github/Sharon-Faith/cookie-recipe/blob/master/Telecom_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CSV FILES AND DESCRIPTIONS USED**

cells_geo_description.xlsx [link](https://drive.google.com/a/moringaschool.com/file/d/1-rIM5ihDu79RaH7rAs-d-7SQSAQhrY9N/view?usp=sharing)

cells_geo.csv [link](https://drive.google.com/a/moringaschool.com/file/d/1ABZux280OjL3yWcOn8BDA_f5QsyO0QPU/view?usp=sharing)

CDR_description.xlsx [link](https://drive.google.com/open?id=1cVoNXl25IO5-_yQk97ThdeqhE6yw8YTD)

CDR 20120507 [http://bit.ly/TelecomDataset1] (Links to an external site.)

CDR 20120508 [http://bit.ly/TelecomDataset2] (Links to an external site.)

CDR 20120509 [http://bit.ly/TelecomDataset3]

In [1]:
#importing the pandas library
import pandas as pd

In [2]:
#loading csv file using read_csv and previewing geo description data with head(), specifying 10 records
df1 = pd.read_csv('cells_geo.csv', delimiter=';')
df1.head(10)

,Unnamed: 0,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
0,0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1,1,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17
2,2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3,3,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f
4,4,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,7a1029d2ab,8a1e6ce31f
5,5,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,0b4f56438f,8a1e6ce31f
6,6,KRIKOREA,In Service,INTERIEUR,Grand-OUEST,"KRIKOREA""",-6.627056,6.707361,HAUT SASSANDRA,NaN,041d2504f5,260dbfedc5
7,7,ABOBO,In Service,ABIDJAN,"""Abidjan_NORD",NPONON,-4.023583,5.435694,LAGUNE,NaN,a70c1d263b,56306cc7ca
8,8,ABOBO,In Service,ABIDJAN,"""Abidjan_NORD",NPONON,-4.023583,5.435694,LAGUNE,NaN,e2d04ea883,56306cc7ca
9,9,ABOBO,NaN,ABIDJAN,"""Abidjan_NORD",NPONON,-4.023583,5.435694,LAGUNE,NaN,ee224cd27e,56306cc7ca

In [ ]:
#dropping unnamed column using drop(). The unnamed column is a 
#duplicate of the indexes so it is not needed
df1 = df1.drop('Unnamed: 0', axis=1)

In [ ]:
#creating 2 variables with lists of the column names to specify string columns to strip of any
#leading or trailing whitespaces and " character
columns = ['DECOUPZONE','ZONENAME']
columns2 = ['VILLES', 'STATUS', 'LOCALISATION',	'DECOUPZONE',	'ZONENAME',	'REGION',	'AREA',	'CELL_ID', 'SITE_CODE']

df1[columns] = df1[columns].apply(lambda val: val.str.strip('"'))
df1[columns2] = df1[columns2].apply(lambda val: val.str.strip())
df1

,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
0,ADJAME,In Service,ABIDJAN,Abidjan_EST,AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1,ADJAME,In Service,ABIDJAN,Abidjan_EST,AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17
2,ADJAME,In Service,ABIDJAN,Abidjan_EST,AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3,ASSINIE,In Service,INTERIEUR,Grand-EST,ASSINIE,-3.488467,5.158761,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f
4,ASSINIE,In Service,INTERIEUR,Grand-EST,ASSINIE,-3.488467,5.158761,SUD COMOE,NaN,7a1029d2ab,8a1e6ce31f
...,...,...,...,...,...,...,...,...,...,...,...
3969,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.039694,7.428611,MARAHOUE,CENTRE NORTH,1cfc2d7ab1,f91ed8d2e9
3970,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.039694,7.428611,MARAHOUE,CENTRE NORTH,3ae1708153,f91ed8d2e9
3971,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,cb71f8a29c,61bee9c70c
3972,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,d4a6a0b645,61bee9c70c
3973,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,f9f3e42589,61bee9c70c

In [ ]:
#checking for duplicates in the geo description data
df1[df1.duplicated()]

,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
184,BONGOUANOU,NaN,INTERIEUR,Grand-SUD,ZONE B - Grand-SUD,-4.551056,5.895472,AGNEBY,EAST,6750e0fb7b,20387d4292
185,BONGOUANOU,NaN,INTERIEUR,Grand-SUD,ZONE B - Grand-SUD,-4.551056,5.895472,AGNEBY,EAST,6750e0fb7b,20387d4292
244,BONGOUANOU,NaN,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-4.016722,5.353333,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
245,BONGOUANOU,NaN,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-4.016722,5.353333,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
574,BONGOUANOU,NaN,INTERIEUR,Grand-EST,ZONE C - Grand-EST,-3.488467,5.158761,SUD COMOE,ABIDJAN SOUTH,6750e0fb7b,20387d4292
575,BONGOUANOU,NaN,INTERIEUR,Grand-EST,ZONE C - Grand-EST,-3.488467,5.158761,SUD COMOE,ABIDJAN SOUTH,6750e0fb7b,20387d4292
693,PORT-BOUET,In Service,ABIDJAN,Abidjan_SUD,ZONE D - Abidjan_SUD,-3.950417,5.247722,LAGUNE,ABIDJAN SOUTH,bac868328a,4d3501719c
694,PORT-BOUET,In Service,ABIDJAN,Abidjan_SUD,ZONE D - Abidjan_SUD,-3.950417,5.247722,LAGUNE,ABIDJAN SOUTH,7838208973,4d3501719c
695,PORT-BOUET,In Service,ABIDJAN,Abidjan_SUD,ZONE D - Abidjan_SUD,-3.950417,5.247722,LAGUNE,ABIDJAN SOUTH,2ad65c76a7,4d3501719c
696,PORT-BOUET,In Service,ABIDJAN,Abidjan_SUD,ZONE D - Abidjan_SUD,-3.950417,5.247722,LAGUNE,ABIDJAN SOUTH,ef7586d8b9,4d3501719c
763,MARCORY,In Service,ABIDJAN,Abidjan_CENTRE,ZONE A - Abidjan_CENTRE,-3.959028,5.282750,LAGUNE,ABIDJAN SOUTH,c76d9f0541,85a1fff77f
933,COCODY,In Service,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-3.981028,5.356778,LAGUNE,ABIDJAN NORTH,78513e000d,a64fc672f1
1207,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.450389,6.886306,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
1208,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.450389,6.886306,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
1209,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.450389,6.886306,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
1210,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.450389,6.886306,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
1211,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.450389,6.886306,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
1554,GRAND-BASSAM,In Service,INTERIEUR,Grand-EST,ZONE C - Grand-EST,-3.736100,5.199225,LAGUNE,ABIDJAN SOUTH,f6eaeff103,ed9b516816
1555,GRAND-BASSAM,In Service,INTERIEUR,Grand-EST,ZONE C - Grand-EST,-3.736100,5.199225,LAGUNE,ABIDJAN SOUTH,90b8899be5,ed9b516816
2085,KORHOGO,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.625189,9.419469,SAVANE,CENTRE NORTH,5f664a17ae,bdeafe55f0
2204,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.627056,6.707361,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
2205,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.627056,6.707361,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
2271,BONGOUANOU,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.040222,5.315444,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2272,BONGOUANOU,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.040222,5.315444,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2273,BONGOUANOU,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.040222,5.315444,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2274,BONGOUANOU,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.040222,5.315444,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2275,BONGOUANOU,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.040222,5.315444,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2328,MAN,In Service,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-7.549692,7.408547,18 MONTAGNES,NORTH WEST,43ee48e4d6,928a59b635
2329,MAN,In Service,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-7.549692,7.408547,18 MONTAGNES,NORTH WEST,43ee48e4d6,928a59b635
2332,MAN,In Service,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-7.549692,7.408547,18 MONTAGNES,NORTH WEST,43ee48e4d6,928a59b635
2469,YOPOUGON,In Service,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.097556,5.382000,LAGUNE,ABIDJAN NORTH,0a834b2696,c57de6fa4a
2696,BONGOUANOU,NaN,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-3.998194,5.424000,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2697,BONGOUANOU,NaN,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-3.998194,5.424000,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2698,BONGOUANOU,NaN,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-3.998194,5.424000,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2776,BONGOUANOU,NaN,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-3.910222,5.373639,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2777,BONGOUANOU,NaN,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-3.910222,5.373639,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
3125,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.789194,7.496333,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
3126,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.789194,7.496333,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
3502,YOPOUGON,In Service,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.054778,5.333472,LAGUNE,ABIDJAN NORTH,086db1b3c3,c15166ba4d
3503,YOPOUGON,In Service,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.054778,5.333472,LAGUNE,ABIDJAN NORTH,bab25957e2,c15166ba4d
3685,BONGOUANOU,NaN,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-4.028806,5.376139,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
3698,ADJAME,In Service,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-4.020528,5.365917,LAGUNE,ABIDJAN NORTH,26a72e2271,5c565fbfb1
3699,ADJAME,In Service,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-4.020528,5.365917,LAGUNE,ABIDJAN NORTH,fcf8faec3b,5c565fbfb1

In [ ]:
#dropping the duplicated rows from the geo descripiton data
df1 = df1.drop_duplicates()

In [ ]:
#checking if there are records where the status is null. These records have
#ids that are not in service therefore not needed for the project
df1[df1['STATUS'].isna()]

,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
9,ABOBO,NaN,ABIDJAN,Abidjan_NORD,NPONON,-4.023583,5.435694,LAGUNE,NaN,ee224cd27e,56306cc7ca
10,ABOBO,NaN,ABIDJAN,Abidjan_NORD,NPONON,-4.023583,5.435694,LAGUNE,NaN,107d0d752c,56306cc7ca
164,BONGOUANOU,NaN,INTERIEUR,Grand-EST,ZONE C - Grand-EST,-0.000000,0.000000,SUD COMOE,ABIDJAN SOUTH,6750e0fb7b,20387d4292
183,BONGOUANOU,NaN,INTERIEUR,Grand-SUD,ZONE B - Grand-SUD,-4.551056,5.895472,AGNEBY,EAST,6750e0fb7b,20387d4292
243,BONGOUANOU,NaN,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-4.016722,5.353333,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
573,BONGOUANOU,NaN,INTERIEUR,Grand-EST,ZONE C - Grand-EST,-3.488467,5.158761,SUD COMOE,ABIDJAN SOUTH,6750e0fb7b,20387d4292
727,BONGOUANOU,NaN,INTERIEUR,Grand-SUD,ZONE B - Grand-SUD,-4.012119,5.908744,AGNEBY,EAST,6750e0fb7b,20387d4292
890,BONGOUANOU,NaN,INTERIEUR,Grand-EST,ZONE C - Grand-EST,-4.212658,6.660275,NZI COMOE,EAST,6750e0fb7b,20387d4292
1160,YOPOUGON,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.110306,5.358167,LAGUNE,ABIDJAN NORTH,37c095c16f,e1a3687210
1206,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.450389,6.886306,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
1399,DIVO,NaN,INTERIEUR,Grand-SUD,ZONE B - Grand-SUD,-5.362139,5.816806,SUD BANDAMA,SOUTH WEST,2b8b74f1d1,3ae1708153
1400,DIVO,NaN,INTERIEUR,Grand-SUD,ZONE B - Grand-SUD,-5.362139,5.816806,SUD BANDAMA,SOUTH WEST,4ef0f6472f,3ae1708153
1401,DIVO,NaN,INTERIEUR,Grand-SUD,ZONE B - Grand-SUD,-5.362139,5.816806,SUD BANDAMA,SOUTH WEST,2ead4303ab,3ae1708153
1579,ABOBO,NaN,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.433500,LAGUNE,ABIDJAN NORTH,0b1f2eeaa7,9fea17896f
1814,GUINKIN,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-7.722060,6.564030,HAUT SASSANDRA,NORTH WEST,28f98a8267,902e235d77
1815,GUINKIN,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-7.722060,6.564030,HAUT SASSANDRA,NORTH WEST,487463db47,902e235d77
1816,GUINKIN,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-7.722060,6.564030,HAUT SASSANDRA,NORTH WEST,8f7b44f4b0,902e235d77
2078,KORHOGO,NaN,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.639167,9.477500,SAVANE,CENTRE NORTH,fdfe7c7b8c,daa1671776
2079,KORHOGO,NaN,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.639167,9.477500,SAVANE,CENTRE NORTH,58cee593f8,daa1671776
2080,KORHOGO,NaN,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.639167,9.477500,SAVANE,CENTRE NORTH,4c33e127b9,daa1671776
2086,KORHOGO,NaN,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-5.625189,9.419469,SAVANE,CENTRE NORTH,5fc06adaf1,bdeafe55f0
2203,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.627056,6.707361,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
2270,BONGOUANOU,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.040222,5.315444,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2342,MAN,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-7.541889,7.410169,18 MONTAGNES,NORTH WEST,76d2cead7d,694c55a591
2343,MAN,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-7.541889,7.410169,18 MONTAGNES,NORTH WEST,3c52c09e7e,694c55a591
2344,MAN,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-7.541889,7.410169,18 MONTAGNES,NORTH WEST,46cc28d38f,694c55a591
2568,ABOBO,NaN,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.068972,5.444444,LAGUNE,ABIDJAN NORTH,e042bf038e,2f502776ef
2569,ABOBO,NaN,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.068972,5.444444,LAGUNE,ABIDJAN NORTH,fd2cf19f3c,2f502776ef
2695,BONGOUANOU,NaN,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-3.998194,5.424000,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
2775,BONGOUANOU,NaN,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-3.910222,5.373639,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
3108,ATTECOUBE,NaN,ABIDJAN,Abidjan_CENTRE,ZONE A - Abidjan_CENTRE,-4.031000,5.338750,LAGUNE,ABIDJAN NORTH,9cb3914d51,feb5ccbbd7
3124,BONGOUANOU,NaN,INTERIEUR,Grand-OUEST,ZONE D - Grand-OUEST,-6.789194,7.496333,HAUT SASSANDRA,NORTH WEST,6750e0fb7b,20387d4292
3222,PORT-BOUET,NaN,ABIDJAN,Abidjan_SUD,ZONE D - Abidjan_SUD,-3.945028,5.254056,LAGUNE,ABIDJAN SOUTH,c5838976b7,ffa6bdc032
3223,PORT-BOUET,NaN,ABIDJAN,Abidjan_SUD,ZONE D - Abidjan_SUD,-3.945028,5.254056,LAGUNE,ABIDJAN SOUTH,3269ac9130,ffa6bdc032
3500,YOPOUGON,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.054778,5.333472,LAGUNE,ABIDJAN NORTH,a1e9d0823c,c15166ba4d
3684,BONGOUANOU,NaN,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-4.028806,5.376139,LAGUNE,ABIDJAN NORTH,6750e0fb7b,20387d4292
3691,ADJAME,NaN,ABIDJAN,Abidjan_EST,ZONE B - Abidjan_EST,-4.020528,5.365917,LAGUNE,ABIDJAN NORTH,b0dbc2e61c,5c565fbfb1
3804,YOPOUGON,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.079028,5.345028,LAGUNE,ABIDJAN NORTH,6680e8a299,2d58cad870
3853,YOPOUGON,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.055778,5.317861,LAGUNE,ABIDJAN NORTH,f2c2245f51,780c0d5bd7
3854,YOPOUGON,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.055778,5.317861,LAGUNE,ABIDJAN NORTH,abf11b69b9,780c0d5bd7
3855,YOPOUGON,NaN,ABIDJAN,Abidjan_OUEST,ZONE C - Abidjan_OUEST,-4.055778,5.317861,LAGUNE,ABIDJAN NORTH,9469fa91b2,780c0d5bd7

In [ ]:
#deleting the records that are not in service
df1 = df1.dropna(subset=['STATUS'])

In [ ]:
#loading Telecom dataset1 (CDR 20120507) and previewing the data
df2 = pd.read_csv('Telcom_dataset.csv')
df2.head(10)

,PRODUTC,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv
5,data,0,2012-05-06 23:07:26.0,_,f71825ca6e623f9,5a4dc9e82deb309,19e2e,OTHER,/lrUXVGVcN,/lrUXVGVcN
6,Voice,0,2012-05-06 23:08:02.0,1,4afd7d5af21b1ce,67bf1ac30e58e2f,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
7,Voice,0,2012-05-06 23:08:03.0,5,d717dee81c51389,adde5afd9a67b10,19e2e,19e2e,09UjmmY1Ds,09UjmmY1Ds
8,Voice,0,2012-05-06 23:08:05.0,1,44522aefdc918a6,19e68e80103885e,19e2e,19e2e,0DeimCpZOc,0DeimCpZOc
9,sms,0,2012-05-06 23:08:43.0,0,0763a571d24db64,f773694c00c74d2,19e2e,19e2e,01MDiY5F89,01MDiY5F89

In [ ]:
#renaming the produtc column to its correct spelling - product
#the columns argument in rename() takes the changes in form a dictionary
df2 = df2.rename(columns = {'PRODUTC': 'PRODUCT'})
df2

,PRODUCT,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...,...,...,...
4996,sms,100,2012-05-07 00:01:54.0,0,92e367d671f45c5,38811081cf82c90,19e2e,OTHER,0c2371d9bc,1e751d08a4
4997,Voice,1,2012-05-07 00:01:54.0,1,83b44b18238e602,6ec63d4aa5de5dd,19e2e,19e2e,5fb791cf56,65efe2bc62
4998,Voice,0,2012-05-07 00:01:54.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,7773627c12,9ef9616350
4999,Voice,0,2012-05-07 00:01:54.0,0,a1613f1a992716a,bd663f07b6c8bcd,19e2e,19e2e,3f4af49d6c,969b8d0e39
5000,Voice,7,2012-05-07 00:01:54.0,2,1670a5f7c22f4ed,3600efd094f2225,19e2e,19e2e,6f4d9b77a5,ebfc58af70

In [ ]:
#loading Telecom dataset2
#renaming the column names, eliminating character variations so that they match Telcom dataset 1 to enable 
#appropriatemerging on axis=1
df3 = pd.read_csv('Telcom_dataset2.csv')
df3
df3 = df3.rename(columns = {'DW_A_NUMBER': 'DW_A_NUMBER_INT', 'DW_B_NUMBER' : 'DW_B_NUMBER_INT', 'DATE_TIME': 'DATETIME'})
df3

,PRODUCT,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,2,32255675c3b6fe3,1aa7ae01386e9fb,19e2e,19e2e,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,1,ff16d6ac74c1c64,87d87309c15a8c9,19e2e,19e2e,+854AcBQT2,+854AcBQT2
2,sms,0,2012-05-07 23:04:06.0,0,98d9f2fb5ff624b,93343ba6e41af95,19e2e,19e2e,+laSrk7g6q,+laSrk7g6q
3,Voice,37,2012-05-07 23:04:48.0,1,3f9c8a33ec7be1f,7d05a38f89c49d8,19e2e,19e2e,/xvRrCVKoQ,/xvRrCVKoQ
4,sms,25,2012-05-07 23:04:58.0,1,7bcccc03adf3864,56a5d5430d2fa86,19e2e,19e2e,+bO+qkSonO,+bO+qkSonO
...,...,...,...,...,...,...,...,...,...,...
4996,sms,0,2012-05-08 00:01:53.0,8,22ffbbb8ac8cde1,8db839a0c08bd54,19e2e,19e2e,896459aace,b7d00e59e4
4997,sms,25,2012-05-08 00:01:53.0,0,bcf512a3542d42c,5a2848d6f983c31,19e2e,19e2e,7e90b35166,211015b14d
4998,sms,0,2012-05-08 00:01:53.0,0,05e3c3d41628a9f,7185a95077eae9e,19e2e,19e2e,fe70e431df,c7ea989264
4999,data,0,2012-05-08 00:01:53.0,_,86a4dbf018f6f24,5a4dc9e82deb309,19e2e,OTHER,ffa6759bb2,NaN
5000,Voice,0,2012-05-08 00:01:53.0,0,a03c9837c62a5b9,de590e98879fa37,19e2e,19e2e,8630058aca,b47a998a3e

In [ ]:
#loading and previewing Telcom dataset 3
df4 = pd.read_csv('Telcom_dataset3.csv')
df4

,PRODUCT,VALUE,DATE_TIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELLID,SIET_ID
0,Voice,61,2012-05-08 23:01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,+Fs4mTvdKx,+Fs4mTvdKx
2,Voice,10,2012-05-08 23:02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,2012-05-08 23:03:04.0,0,8ab8b9ed6989f61,e09e736e46c5c3d,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,22,2012-05-08 23:03:16.0,4,52662a62b199334,2186273faab4602,19e2e,19e2e,/eeMklgyJA,/eeMklgyJA
...,...,...,...,...,...,...,...,...,...,...
4996,Voice,0,2012-05-09 00:01:43.0,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,2aa04dcab7,f7d63a29e5
4997,Voice,62,2012-05-09 00:01:43.0,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,7f1f2f889f,b4ddb9e93c
4998,Voice,32,2012-05-09 00:01:43.0,1,77f53c39d27c050,9d064f013e2cab2,19e2e,19e2e,a4731e780e,d68260ef50
4999,Voice,30,2012-05-09 00:01:43.0,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,98ed726da2,b4130b54ab
5000,Voice,60,2012-05-09 00:01:43.0,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,1c11a2fcbb,6d70dae094

In [ ]:
#renaming the column names, eliminating character variations so that they match Telcom dataset 1 to enable 
#appropriatemerging on axis=1
df4 = df4.rename(columns = {'SIET_ID' : 'SITE_ID', 'CELLID' : 'CELL_ID', 'DATE_TIME': 'DATETIME'})
df4

,PRODUCT,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,61,2012-05-08 23:01:28.0,2,966f68353622feb,ffd53a3bb2db6f1,19e2e,19e2e,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,1,a0a597384c612d7,cf3b218f1dde792,19e2e,19e2e,+Fs4mTvdKx,+Fs4mTvdKx
2,Voice,10,2012-05-08 23:02:59.0,1,5441a9a58c97132,52f8b299515b9b7,19e2e,19e2e,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,2012-05-08 23:03:04.0,0,8ab8b9ed6989f61,e09e736e46c5c3d,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,22,2012-05-08 23:03:16.0,4,52662a62b199334,2186273faab4602,19e2e,19e2e,/eeMklgyJA,/eeMklgyJA
...,...,...,...,...,...,...,...,...,...,...
4996,Voice,0,2012-05-09 00:01:43.0,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,2aa04dcab7,f7d63a29e5
4997,Voice,62,2012-05-09 00:01:43.0,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,7f1f2f889f,b4ddb9e93c
4998,Voice,32,2012-05-09 00:01:43.0,1,77f53c39d27c050,9d064f013e2cab2,19e2e,19e2e,a4731e780e,d68260ef50
4999,Voice,30,2012-05-09 00:01:43.0,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,98ed726da2,b4130b54ab
5000,Voice,60,2012-05-09 00:01:43.0,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,1c11a2fcbb,6d70dae094

In [ ]:
#merging the 3 telecom datasets on axis 0 using the concat() function
#ignore index is set to true so that the value of the index can increase in
#a chronological manner along the rows
combined_df = pd.concat((df2,df3,df4), axis=0, ignore_index=True)
combined_df

,PRODUCT,VALUE,DATETIME,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,COUNTRY_A,COUNTRY_B,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,1,49fae048b547780,1a49f8b0ded9de6,19e2e,19e2e,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,0,7a54a6eaee19e65,93343ba6e41af95,19e2e,19e2e,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,0,6008887b0207d82,7aacc9709ce0a20,19e2e,19e2e,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,1,7370032e20f4e96,6af4a60e74c91d3,19e2e,19e2e,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,1,966ba4656e38e62,02aa736ee555d5c,19e2e,19e2e,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...,...,...,...
14998,Voice,0,2012-05-09 00:01:43.0,3,467333ade2b4b9c,0ab2acd804d01fe,19e2e,19e2e,2aa04dcab7,f7d63a29e5
14999,Voice,62,2012-05-09 00:01:43.0,1,e077a6b74c5053c,4c8098eb6ea1a41,19e2e,19e2e,7f1f2f889f,b4ddb9e93c
15000,Voice,32,2012-05-09 00:01:43.0,1,77f53c39d27c050,9d064f013e2cab2,19e2e,19e2e,a4731e780e,d68260ef50
15001,Voice,30,2012-05-09 00:01:43.0,2,672ce74c418aa7a,f9ff5af59cf0d68,19e2e,19e2e,98ed726da2,b4130b54ab
15002,Voice,60,2012-05-09 00:01:43.0,2,6edeb4c55714650,7e60838216482a7,19e2e,19e2e,1c11a2fcbb,6d70dae094

In [ ]:
#dropping the columns which are not needed according to the CDR description
#and previewing the change
combined_df = combined_df.drop(['CELL_ON_SITE', 'COUNTRY_A', 'COUNTRY_B'], axis=1)
combined_df.head()

,PRODUCT,VALUE,DATETIME,DW_A_NUMBER_INT,DW_B_NUMBER_INT,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,7a54a6eaee19e65,93343ba6e41af95,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,6008887b0207d82,7aacc9709ce0a20,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,7370032e20f4e96,6af4a60e74c91d3,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,966ba4656e38e62,02aa736ee555d5c,051KhYDCpv,051KhYDCpv

In [ ]:
#applying the strip() function to remove any leading or trailing whitespaces that may be
#there in the string columns
cols = ['PRODUCT', 'DATETIME','DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'CELL_ID', 'SITE_ID']

combined_df[cols] = combined_df[cols].apply(lambda val: val.str.strip())

combined_df

,PRODUCT,VALUE,DATETIME,DW_A_NUMBER_INT,DW_B_NUMBER_INT,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,7a54a6eaee19e65,93343ba6e41af95,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,6008887b0207d82,7aacc9709ce0a20,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,7370032e20f4e96,6af4a60e74c91d3,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,966ba4656e38e62,02aa736ee555d5c,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...
14998,Voice,0,2012-05-09 00:01:43.0,467333ade2b4b9c,0ab2acd804d01fe,2aa04dcab7,f7d63a29e5
14999,Voice,62,2012-05-09 00:01:43.0,e077a6b74c5053c,4c8098eb6ea1a41,7f1f2f889f,b4ddb9e93c
15000,Voice,32,2012-05-09 00:01:43.0,77f53c39d27c050,9d064f013e2cab2,a4731e780e,d68260ef50
15001,Voice,30,2012-05-09 00:01:43.0,672ce74c418aa7a,f9ff5af59cf0d68,98ed726da2,b4130b54ab
15002,Voice,60,2012-05-09 00:01:43.0,6edeb4c55714650,7e60838216482a7,1c11a2fcbb,6d70dae094

In [ ]:
#checking for duplicates in the combined telecoms dataframe
combined_df[combined_df.duplicated()]

,PRODUCT,VALUE,DATETIME,DW_A_NUMBER_INT,DW_B_NUMBER_INT,CELL_ID,SITE_ID
793,sms,0,2012-05-07 00:00:03.0,fc29d09837d792a,aaaf0e4bdec7311,23c5372bd3,e942f32a29
794,sms,25,2012-05-07 00:00:03.0,ff24e18fedc9554,ff1c82740bef87e,a6606f4ac1,c6400e443f
814,Voice,0,2012-05-07 00:00:04.0,1a2b54695968d46,55ad144fa74fddc,4a7047f1ba,dea1e52d3b
819,Voice,22,2012-05-07 00:00:04.0,6ef04af9aba7664,f0594085fa4dc29,9c4c7ceb92,a07e8af2b4
948,sms,0,2012-05-07 00:00:06.0,1e9789aacb2b6dd,93343ba6e41af95,9f847444ba,c07a544c63
...,...,...,...,...,...,...,...
14800,Voice,11,2012-05-09 00:01:38.0,101f071b8e3714d,5f20a81622507e3,7f50d052bb,ef51d8b174
14963,sms,0,2012-05-09 00:01:42.0,78f2f5b5afec23f,5147ffd9535fee8,64138404ce,b7aa3c28bb
14964,sms,0,2012-05-09 00:01:42.0,dba6e400f5c08c5,fac51b23192f469,34f124cb0d,73dd78713b
14971,sms,0,2012-05-09 00:01:43.0,a1674d96f3d7691,aaaf0e4bdec7311,55becafe68,7430461f18
15000,Voice,32,2012-05-09 00:01:43.0,77f53c39d27c050,9d064f013e2cab2,a4731e780e,d68260ef50

In [ ]:
#dropping duplicate rows from the combined telecoms dataframe
combined_df = combined_df.drop_duplicates()
combined_df

,PRODUCT,VALUE,DATETIME,DW_A_NUMBER_INT,DW_B_NUMBER_INT,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,7a54a6eaee19e65,93343ba6e41af95,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,6008887b0207d82,7aacc9709ce0a20,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,7370032e20f4e96,6af4a60e74c91d3,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,966ba4656e38e62,02aa736ee555d5c,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...
14997,Voice,10,2012-05-09 00:01:43.0,2f834987f0c1825,accc8e5c1164343,6467daa1db,8a96bae9c1
14998,Voice,0,2012-05-09 00:01:43.0,467333ade2b4b9c,0ab2acd804d01fe,2aa04dcab7,f7d63a29e5
14999,Voice,62,2012-05-09 00:01:43.0,e077a6b74c5053c,4c8098eb6ea1a41,7f1f2f889f,b4ddb9e93c
15001,Voice,30,2012-05-09 00:01:43.0,672ce74c418aa7a,f9ff5af59cf0d68,98ed726da2,b4130b54ab
15002,Voice,60,2012-05-09 00:01:43.0,6edeb4c55714650,7e60838216482a7,1c11a2fcbb,6d70dae094

In [ ]:
cell_ids_days = list(combined_df['CELL_ID'].values)
print(len(cell_ids_days))
site_ids_days = list(combined_df['SITE_ID'].values)
print(len(site_ids_days))

14750
14750

In [ ]:
#on exploring the geo description data, duplicate site codes point to the same
#city. Since we will be merging the geo description data to the combined telecoms data
#based on the site code, we can create a new dataframe to do this merge that will consist of 
#one record of a particular site and the city it points to.
#dropping rows with duplicate site codes does this
unique_df = df1.drop_duplicates(subset='SITE_CODE')

In [ ]:
#verifying that the site code is not repeated in our new dataframe
unique_df[unique_df.duplicated('SITE_CODE')]

Empty DataFrame
Columns: [VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID, SITE_CODE]
Index: []